/* Source: https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewrite > .wrap {
    border-right: 0.08em solid #ffffff; /* The typewriter cursor effect */
}

body {
    /* Typewriter effect */
    background-color: #0E1113;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    width: 400px;
    max-width: 400px;
    height: 202px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: -20px;
    padding: 20px;
    box-sizing: border-box;
}

#output {
    text-align: left;
    word-wrap: break-word;
    padding-bottom: 20px;
}

h1 img {
    vertical-align: middle;
    margin-right: 10px;
  }

* {
    color: #ffffff;
    text-decoration: none;
}

/* CSS */
.button-34 {
  background: #115BCA;
  border-radius: 999px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

/* Loading container */
.loading-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
  }

/* Loading icon */
/* Source: https://loading.io/css/ */
.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

